/* Variables */

:root {
  --menu-animation-duration: 2s;
  --root-background-color: #ededf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond';
}

html { 
  background-color: #ededf1;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  border-top: 5px solid #d17a22;
}

header {
  text-align: center;
  max-width: 440px;
  margin: auto;
  padding: 40px 20px 0;
  position: relative;
  border-bottom: 1px black solid;
}


a {
  text-decoration: none;
  color: #00537a;
}

nav > ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  width: 300px;
  margin: auto;
  justify-items: center;
}

nav > ul li {
  cursor: pointer;
  transition: opacity 0.5s;
}

h1 {
  padding-top: 40px;
  color: #0a2017;
  height: 100%;
  font-size: 3.4rem;
  font-weight: 200;
  letter-spacing: 0.15rem;
  cursor: default;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.content {
  padding: 0px 30px 0 30px;
  display: grid;
}

.main-content {
  display: grid;
  grid-auto-flow: column;
  width: 400px;
  margin: auto;
  justify-items: center;
  padding-top: 130px;
}

.coming-soon {
  text-align: center;
}

.home-section {
  margin: auto;
}

/* Music stuff */

.music-section {
  width: 100%;
}

.songs-section {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(370px, 370px));
  gap: 15px;
  padding: 20px;
  width: 100%;
}

.genre-section {
  display: grid;
  justify-items: center;
}

.songs-section-header{
  width: 1000px;
  font-size: 32px;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 6px 20px;
}

.elec-desc {
  width: 950px;
  text-align: left;
  padding: 20px 0 0;
}

.song-container {
  display: grid;
  grid-template-rows: 110px auto;
  gap: 2px;
  padding: 8px;
  max-width: 370px;

  font-size: 18px;
}

.song-container .down-chevron {
  align-self: center;
  justify-self: right;
}

.song-container .down-chevron:hover {
  cursor: pointer;
}

.song-container .expanded-content {
  font-size: 16px;
  align-self: start;
}

.expanded-content {
  padding-left: 8px;
  display: grid;
  gap: 2px;
  margin-bottom: 8px;

  overflow: hidden;
  transition: height 300ms ease-in-out;
  height: auto;

  border: 1px solid black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: none;
}

.expanded-content > div {
  display: grid;
  grid-template-columns: 100px auto;
  max-width: 280px;
}

.expanded-content div div:first-child {
  font-weight: 600;
}

.expanded-content > div:last-child {
  grid-template-columns: auto;
  padding-bottom: 10px;
}

.expanded-content > div:last-child > div:last-child {
  padding-left: 8px;
}

.song-container button {
  padding: 0;
  border: 0;
  background: inherit;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}

.audio-player-container {
    --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
  position: relative;
  margin: 10px 5% 10px 0;
  padding-top: 6px;
  width: 300px;
  max-width: 500px;
  height: 90px;
  background: #ededf1;
  
  display: grid;
  grid-template-columns: 50px 40px 160px 40px;
  align-items: center;
}

.audio-player-container::before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: black;
  z-index: -1;
}

p {
  position: absolute;
  top: -14px;
  right: 5%;
  padding: 0 5px;
  margin: 0;
  font-size: 16px;
  background: #ededf1;
}

.play-icon, .down-chevron {
  margin: 0px 2.5% 0px 2.5%;
}

path {
  stroke: #00537a;
}

.time {
  display: inline-block;
  width: 37px;
}

output {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.seek-slider {
  margin-right: 15px;
}

.volume-slider {
  margin: 10px 2.5% 10px 0;
}

.mute-icon {
  margin-left: 4px;
}

/* Generic section stuff */

.section-header {
  width: 1000px;
  font-size: 32px;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 6px 20px;
}

.section-container{
  display: grid;
  justify-items: center;
  gap: 25px;
  padding-bottom: 50px;
}

.proj-section {
  width: 950px;
  gap: 3px;
  padding-left: 40px;
  display: grid;
  justify-items: center;
  text-align: left;
}

.proj-section-header {
  width: 100%;
  font-size: 20px;
  text-align: left;
  padding-bottom: 8px;
}

.proj-item {
  border-bottom: 1px solid grey;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 60px 60px 100px;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  padding: 8px;
  margin-bottom: 8px;
  text-align: left;
}

.contact-link {
  font-size: 18px;
  justify-self: start;
}
